body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5151;
    height: 100vh;
}

header{
    width: 50%;
    height: 20%;
    color: #ffffff;
    background-color: #6B4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    padding: 10px;
}

@media(max-width: 700px){
    header{
        width: 90%;
    }
}
@media(max-width: 400px){
  h2{
      font-size: 20px;
  }
}
